[submodule "Firmware"]
	path = Firmware
	url = https://github.com/psas/stm32.git
[submodule "Flight-Computer"]
	path = Flight-Computer
	url = https://github.com/psas/av3-fc.git
[submodule "telemetry-viewer"]
	path = telemetry-viewer
	url = https://github.com/psas/telemetry.git
[submodule "commander"]
	path = commander
	url = https://github.com/psas/commander.git
